{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{block.super}}
<style type="text/css" media="screen">
#welcome{
    background-color: white;
     width: 600px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding: 10px;
border:2px solid #6688AA;
}
</style>
{% endblock %}

{% block title %}
HIDE v1.5
{% endblock %}

{% block content %}
<div id="welcome">
<h1>Welcome to HIDE v1.5</h1>
<br/>
<h2>Tasks</h2>
<a href="./label/">Label Documents</a><br/>
<a href="./anonymize/">Anonymize Documents</a><br/>
<br/>
{% comment %}
<a href="./viewanonymized/">View Anonymized Documents</a><br/>
{% endcomment %}
<h2>Administration</h2>
<a href="./add/">Import Documents</a> <br/>
<a href="./export/">Export Documents</a> <br/>
<a href="./list/">List All Documents</a><br/>
<a href="./analysis/">Analysis</a> <br/>
<a href="./settings/">Settings</a> <br/>
</div>
{% endblock %}

