{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{block.super}}
<style type="text/css" media="screen">
#filelist {
	background-color: white;
        padding: 10px;
        /*width: 800px;*/
        /*line-height: 200%;*/
        margin-right: 100px;
        border: 5px solid #ccc;
}
</style>



<script type="text/javascript">
function submitform()
{
  document.myform.submit();
}

</script>


<link rel="stylesheet" type="text/css" media="screen" href="/site_media/css/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/site_media/css/ui.jqgrid.css" />
 
<script src="/site_media/js/jquery.js" type="text/javascript"></script>
<script src="/site_media/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="/site_media/js/jquery.jqGrid.min.js" type="text/javascript"></script>



<script type="text/javascript">
jQuery(document).ready(function(){ 

jQuery("#anon1").jqGrid({
			datatype: "local", 
			height: 'auto', 
			colNames:['ID','Title', 'Labels'], 
			colModel:[ 
					{name:'id',index:'id', width:60, sorttype:"int"}, 
					{name:'title',index:'title', width:120}, 
					{name:'labels',index:'labels', width:400}, 
				], 
			autowidth: true,
			multiselect: true, 
			caption: "Objects to be labeled"
			});

var mydata = [{% for key,object in objects.items %}
	{ id:"{{forloop.counter}}", title:"<a href=\"/hide/doc/{{key}}\">{{object.value.title}}</a>" , labels:"{{object.value.labels}}" },
{% endfor %}];

for(var i=0;i<=mydata.length;i++) {
	jQuery("#anon1").jqGrid('addRowData',i+1,mydata[i]);
}

});
					


</script>

{% endblock %}

{% block title %}
HIDE v1.5
{% endblock %}

{% block content %}
<h2>Label the following documents</h2>
<form name="myform" method="post" action="#">
{% csrf_token %}
<a href="javascript: submitform()">Train AutoLabeler</a> 
</form>
<div id="filelist">

<table id="anon1"></table>
  
  
</div>
{% endblock %}

