{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{ block.super }}
<link rel="stylesheet" href="/site_media/screen.css" type="text/css" media="screen" charset="utf-8">
<style type="text/css" media="screen">


#capture pre{
   font-size:0.9em;
   white-space: pre-wrap;
}

#removes {
	border: 0;
	padding: 0;
	margin: 0;
}

#edit {
   padding: 3px;
   position: relative;
   top: 40px;
	width: 800px;
   margin-left: 125px;
	margin-right: auto;
	background-color:#EEEEEE;
	border: 1px solid #6688aa; 
   padding 0;
}

#edit input{
   float: right;
   width: 750px;
}

#capture {
	position: relative;
   top: 50px;
	line-height: 200%;
	left: 125px;
   right: 5px; 
	border: 1px solid #6688aa; 
	background-color: white;
   margin-right: 10px;
   margin-bottom: 10px;
   width: 800px; 
   padding-left: 2px;
   padding-right: 2px;
   padding-bottom: 2px;
}


#leftbar {
	position: absolute;
   width: 100px;
	left: 5px;
	top: 0px; 
	border: 1px solid #6688aa;
	background-color:white;
	text-align: center;
}

#sidebar {
	position: absolute; 
   width: 100px;
	left: 5px;
	top: 40px; 
	border: 1px solid #6688aa; 
	background-color: white; 
	text-align: center;
   padding: 3px;
}

#sidebar h2 {
   padding-bottom: 4px;
   border-bottom:1px solid #6688aa;
   font-size: 1.1em;
}

#error {
	position: fixed;
	top: 95%;
	left: 80%;
	color: red;
	font-size: 2em;
}
#links {
	position: absolute;
	top: 40px;
	padding: 0;
	margin: 0;
	z-index: 100;
}
#links a {
	font-size: 1em;
	width: 100%;
	border: 1px solid #aaa;
	color: black;
	display: block;
	padding: 2px 4px;
	margin: 0;
}
.hov {
/*	float: left;*/
	position: absolute;
	background-color: #eee;
	font-size: 10px;
	line-height: 1em;
	padding: 1px;
}
.legend {
	text-align: center;
   margin-bottom: 2px;
}

</style>

<script type="text/javascript" src="/site_media/jquery.js"></script>

<script language="javascript" type="text/javascript">
function submitCRFForm(action){
document.crfform.crf.value = action
document.crfform.submit();
}
</script>


<script type="text/javascript">




{% autoescape off %}
var tags = {{ displaytags }};
{% endautoescape %}
var ranges = new Array();
var sheet = document.styleSheets[0];

$().ready(function() {
	$("#capture").mouseup( function(e) { 
		highlight_text(e);
	});
	
	/*
	$("#submit").click( function(e) {
		sendajax(e);
	});
	*/

	// Create a new button for each attribute, add to legend
	$.each(tags, function(name, color) {
		add_to_legend(name, color);
		create_style(name, color);
		create_link(name);
	});
	
	$("#links").bind("mouseleave", function() {
		hide_links();
	});
	
	$("#links").hide();
	
	set_bindings();
	$("#tag_none").attr("checked", true);
});

function create_style(name, color) {
	var totalrules = sheet.cssRules ? sheet.cssRules.length : sheet.rules.length
	sheet.insertRule(name + "{background-color: " + color + ";}", totalrules);
	sheet.insertRule('.' + name + "{background-color: " + color + ";}", totalrules);
}

function create_link(name) {
	link = $("<a></a>");
	link.html(name);
	link.attr('id', 'tag_' + name);
	link.attr('href', 'javascript:void(0);');
	link.addClass('tag');
	link.addClass(name);

	$("#links").append(link);
}

function add_to_legend(name, color) {
	legend = $("<div></div>");
	legend.html(name);
	legend.addClass('legend');
	legend.addClass(name);

	$("#legend").append(legend);
}

function set_bindings() {
	$.each(tags, function(k, val) {
		$(k).each(function(elem) {
			delete_link(this, k);
		});
	});
};

function delete_all_labels() {
   removes = $('#removes div')
   removes.each( function(index) {
//      alert(index + ' : ' + this);
      $(this).trigger('click');
   });
}

function delete_link(tag, name) {
	tag = $(tag);
	link = $("<div></div>");
	link.addClass("hov");
	link.css("left", tag.offset().left );
	link.css("top", tag.offset().top - 25 );
	link.css("padding", "1px 1px" );
	link.text("remove " + name);
	$("#removes").append(link);
	link.bind("click", function(event) { 
		tag.replaceWith(tag.text());
		$(this).remove();
	});
}

function highlight_text(e) { 
	sel = window.getSelection();
	range = sel.getRangeAt(0);
	/* printmsg(range.startContainer.parentNode.nodeName + ": " + range.startOffset + " - " + range.endContainer.parentNode.nodeName + ": " + range.endOffset, "#comment"); */
	
	if (range.collapsed) {
		/* printmsg("Nothing selected"); */
		return;
	} else if (range.startContainer.parentNode.nodeName != range.endContainer.parentNode.nodeName) {
		printmsg("Overlap detected");
		return;
	} else {
		// Check nesting by looking at parent node
		parent = range.startContainer.parentNode.nodeName;
		var nested = false;
		$.each(tags, function(name, color) {
			if (name.toUpperCase() == parent.toUpperCase()) { // Check for inner overlap
				nested = true;
			}
			$(name).each(function() { // Check for outer overlap
				if (sel.containsNode(this, true))
					nested = true;
			});
		});
		if (nested) {
			printmsg("Nesting detected");
			return;
		}
	}
	
	// No problems, so tag it!

	links = $("#links");
	links.css("left", e.pageX - 10 );
	links.css("top", e.pageY - 15 );
	links.show();
	var link;
	
	var surround = function(elem) {
		link = document.createElement(elem);
		range.surroundContents(link);
		delete_link(link, elem);
	};
	
	get_tag(surround);
}

function get_tag(fn) {
	$(".tag").each(function(tag) {
		tag = $(this);
		tag.click(function() {
			fn(tag.html());
			hide_links();
		});
	});
}

function hide_links() {
	links = $("#links");
	links.css("left", -500 );
	links.css("top", -500 );
	links.hide();
	$(".tag").each(function(tag) {
		$(this).unbind();
	});
}

function printmsg(str, buffer) {
	if (!buffer) buffer = "#error";
	$(buffer).html(str);
	$(buffer).show();
	$(buffer).fadeOut(2000);
}

function sendajax() {
	$.post("/post", { data: $("#capture").html() }, function(result){
	    $('#result').text(result);
	  }, "text");
}

function sendnormal(f) {
	capturehtml = $("#capture").html().replace(/^\s+|\s+$/g,"");;
	$("#newtags").val(document.getElementById('tags').value);
	$("#tagtext").val(capturehtml);
	document.getElementById('tagform').submit();
}
</script>
{% endblock %}

{% block title %}HIDE: {{ row.title }}{% endblock %}

{% block content %}

<div id="taskbar">
<ul class="dropdown">
<li class="dir"><a href="/hide/autolabel/{{row.id}}">Label</a> 
<ul class="smaller">
<form name="crfform" action="/hide/autolabel/{{row.id}}" method="POST">
{% csrf_token %}
<input type="hidden" name="crf"/>
<input name="referer" type="hidden" value="{{referer}}" />
{% for crf in models %}
<li><a href="javascript:submitCRFForm('{{crf}}');">{{ crf }}</a></li>
{% endfor %}
</form>
</ul>
</li>
<li><a href="/hide/deidentify/{{row.id}}">De-Identify</a></li>
<li>
<form id="tagform" method="post" action="/hide/doc/{{row.id}}/" >
{% csrf_token %}
<input id="newtags" style="display:none" name="newtags"/>
<input id="tagtext" style="display:none" name="tagtext" />
<input name="referer" type="hidden" value="{{referer}}" />
<a href="javascript:{}" onclick="sendnormal(this);">Save</a> 
</form>
</li>
<li><a href="./">  Help  </a></li>
<li><a href="{{referer}}">Back</a></li>
</ul>
</div>

<!--
<div id="leftbar">
<h2>Tasks</h2>
	<a href="/hide/deidentify/{{row.id}}">De-Identify</a><br/>
	<a href="/hide/autolabel/{{row.id}}">AutoLabel</a>
<form id="tagform" method="post" action="/hide/doc/{{row.id}}/" >
{% csrf_token %}
<input id="newtags" style="display:none" name="newtags"/>
<input id="tagtext" style="display:none" name="tagtext" />
<a href="javascript:{}" onclick="sendnormal(this);">Save</a>
</form>
</div>
-->

<div id="edit">
<b>Tags:</b>
{% autoescape off %}
<input id="tags" type="text" name="tags"  value="{{ row.tags }}">
{% endautoescape %}
</div>

<div id="capture">
{% autoescape off %}
<pre>{{ row.text }}</pre>
{% endautoescape %}
<a href="javascript:delete_all_labels()">Clear</a>
</div>

<div id="sidebar">
<div id="legend">
<h2>Legend</h2>
</div>
</div>


<div id="error"></div>
<div id="links"></div>
<div id="removes"></div>
<div id="result"></div>
{% endblock %}
