{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{block.super}}
<style type="text/css" media="screen">
#welcome{
   position: absolute;
   top: 30px;
    background-color: white;
     width: 700px;
  margin-left: 200px;
  padding: 10px;
  border:1px solid #6688AA;
}

#tasks{
   position: absolute;
   top: 30px;
  text-align: center;
  padding: 3px;
   background-color: white;
/*   width: 150px; */
   margin-left: 5px;
  border:1px solid #6688AA;
}

#tasks a{
   line-height: 2em;
}

#small{
   font-size: 0.7em;
   text-align: center;
}
</style>
{% endblock %}

{% block title %}
HIDE
{% endblock %}

{% block content %}
<div id="tasks">
<a href="./train/">Label Documents</a><br/>
<a href="./anonymize/">Anonymize Documents</a><br/>
<a href="./add/">Import Documents</a> <br/>
<a href="./export/">Export Documents</a> <br/>
<a href="./list/">List All Documents</a><br/>
<a href="./analysis/">Analysis</a> <br/>
<a href="./evaluate/">Evaluate</a> <br/>
<a href="./settings/">Settings</a> <br/>
</div>

<div id="welcome">
<h1>Welcome to HIDE</h1>
HIDE (Health Information DE-identification) is a framework for de-identifying medical data.
HIDE provides an annotation tool that can be used to manually or automatically 
de-identify medical records and manage trained models. HIDE is currently under heavy <a href="http://code.google.com/p/hide-emory">development</a> and more features are coming soon.
Click around and have fun. 
<div id="small">
Any questions or comments should be directed
to <a href="mailto:jgardn3@emory.edu">James Gardner</a>.
You may change the content of this page at /path/to/hide_proj/hide/templates/hide/index.html
</div>
</div>
{% endblock %}

