{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{ block.super }}
<style type="text/css">
#results table {
        border-width: 1px;
        border-spacing: 2px;
        border-style: outset;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
}
#results th {
        border-width: 1px;
        padding: 1px;
        border-style: dotted;
        border-color: black;
        background-color: white;
        -moz-border-radius: 0px 0px 0px 0px;
}
#results td {
        border-width: 1px;
        padding: 1px;
        border-style: dotted;
        border-color: black;
        background-color: white;
        -moz-border-radius: 0px 0px 0px 0px;
}

</style>
{% endblock %}

{% block title %}HIDE v1.5: {{ title }}{% endblock %}

{% block content %}

<div id="results">
{% autoescape off %}
{{ accuracy }}
{% endautoescape %}
</div>

{% endblock %}
