{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{block.super}}
<style type="text/css" media="screen">
#filelist {
	background-color: white;
        padding: 10px;
        width: 700px;
        /*line-height: 200%;*/
	margin-left: auto;
	margin-right: auto;
        border: 5px solid #ccc;
}
</style>

<script language="javascript" type="text/javascript">
function submitForm(action){
document.crfform.crf.value = action
document.crfform.submit();
}
</script>



{% endblock %}

{% block title %}
HIDE v1.5
{% endblock %}

{% block content %}
<div id="crflist">
<form name="crfform" method="POST">
{% csrf_token %}
Please select the AutoLabeler model you wish to use:
<ol>
  {% for crf in crfs %}
  <li><a href="javascript:submitForm('{{crf}}');">{{ crf }}</a>
</li>
  {% endfor %}
</ol>
<input type="hidden" name="crf"/>
</form>
</div>
{% endblock %}

