{% extends "base.html" %}
{% load i18n %}

{% block htmlhead %}
{{block.super}}
<style type="text/css" media="screen">
#filelist {
	background-color: white;
        padding: 10px;
        /*width: 800px;*/
        /*line-height: 200%;*/
        margin-right: 100px;
        border: 5px solid #ccc;
}
</style>
{% endblock %}

{% block title %}
HIDE v1.5
{% endblock %}

{% block content %}
<h2>Training has completed on the following documents:</h2>
{% autoescape off %}
<h3>{{error}}</h3>
{% endautoescape %}

<div id="filelist">
<ol>
  {% for key,object in objects.items %}
  <li><a id="title" href="/hide/doc/{{ key }}/">{{object.value.title}}</a>
</li>
  {% endfor %}
</ol>
</div>
{% endblock %}

